.sec-1 {
  background-image: linear-gradient(
      45deg,
      rgba(19, 10, 10, 0.8),
      rgba(34, 34, 34, 0.5)
    ),
    url("../src/assets/bg_5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.pic {
  background-image: linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.7),
      rgba(0, 0, 0, 0.6)
    ),
    url("../src/assets/bg_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
}

/* .foot {
  background-image: url("../src/assets/bg_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
} */

.sec2 {
  background-image: linear-gradient(
      180deg,
      rgba(41, 41, 41, 0.4),
      rgba(34, 34, 34, 0.5)
    ),
    url("../src/assets/bg_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* @media screen and (max-width: 425px) {
  .foot {
    height: 305vh;
  }
}

@media screen and (min-width: 768px) {
  .foot {
    height: 160vh;
  }
} */
